[alias]
	meld = !$HOME/bin/git-meld.pl
	sh = stash
	co = checkout
	cp = cherry-pick
	br = branch
	st = status -s -uno
	st-all = status -s
	ci = commit
	amend = commit --amend --no-edit
	uncom = reset HEAD~1
	pr = pull -r
	re = rebase -i
	re-con = rebase --continue
	re-abt = rebase --abort
	last = log -1
	resh = reset --hard
	aa = add -u
	ps = push
[pager]
	branch = false
[user]
	name = Igor Demura
	email = igor.demura@gmail.com
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[credential "https://github.com"]
	username = idemura
